html{
  /* background: #ededed; */
  background-color: #f6f6f6f6 !important;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 #root{
  height: 120vh;
 }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* General Styles */
.card {
  width: 35%;
  height: 75%;
  border-radius: 1em 1em 0 0;

  position: relative;
}

.view {
  text-align: center;
}

.view img {
  width: 90%;
  height: 70%;
  object-fit: cover;
  border-radius: 1em;
}

.content {
  background-image: url(card-backgroud.svg) !important;  /* Ensure you have the image available in your new project */
  width: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 1em;
}

.user-info {
  padding-bottom: 60px;
}

.qr-code {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.qr-code img {
  width: 55%;
}
.tab h1 {
  margin: 0;
  font-family: "Nunito", sans-serif;
   color: #2e6c8e;
}
.tab p {
  font-weight: 400;
  opacity: 0.8;
}
.user-info {
  padding-bottom: 60px;
}
